<?xml version="1.0" ?>
<robot name="LD90">

    <webots>
        <plugin type="webots_ros2_control::Ros2Control"/>

        <device reference="main_lidar" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>main_lidar</frameName>
            </ros>
        </device>

        <device reference="camera_realsense_depth_01" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan_01</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>sub_lidar_01</frameName>
            </ros>
        </device>
        <device reference="camera_realsense_depth_02" type="Lidar">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/scan_02</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>sub_lidar_02</frameName>
            </ros>
        </device>


        <device reference="rear_sonar_1" type="DistanceSensor">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/ds1</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>rear_sonar_1</frameName>
            </ros>
        </device>
        <device reference="rear_sonar_2" type="DistanceSensor">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/ds2</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>rear_sonar_2</frameName>
            </ros>
        </device>
        <device reference="rear_sonar_3" type="DistanceSensor">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/ds3</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>rear_sonar_3</frameName>
            </ros>
        </device>
        <device reference="rear_sonar_4" type="DistanceSensor">
            <ros>
                <enabled>true</enabled>
                <updateRate>5</updateRate>
                <topicName>/ds4</topicName>
                <alwaysOn>true</alwaysOn>
                <frameName>rear_sonar_4</frameName>
            </ros>
        </device>
    </webots>

    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="left_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>            
        </joint>
        <joint name="right_wheel_joint">
            <state_interface name="position"/>
            <command_interface name="velocity"/>            
        </joint>        
    </ros2_control>        
    
</robot>